 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="card text-white">
    <div class="card-header bg-primary">Category List</div>
    <div class="card-body">
        <partial name="_categoryIndex" />
    </div>
    <partial name="_createCategoryFormModal" />
</div>


